* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.leftcolumn {
    float: left;
    height: 100%;
    width: 30%;
    background-color: white;
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.sidebutton {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    height: 140px;
    background-color: #d51410;
    color: white;
    padding: 5%;
    width: 80%;
    margin-top: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 10px 10px;
}

.sidebutton img{
    width:70%;
    margin-top:10px;
}

.title {
    text-align: center;
    font-size: 350%;
    font-weight: 800;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.item {
    border: #d51410 solid 5px;
    width: 80%;
    height: 250px;
    margin: 2px;
    border-radius: 20px;
}

.item img {
    height: 50%;
    width: auto;
}

.toevoegen{
    background-color: #d51410;
    height:9%;
    width:80%;
    margin-left:10%;
    padding-top:3%;
    border-radius: 50px;
    color:white;
    font-weight: 700;
}

.sushi-information{
    width:70%;
    float: left;
    align-items: center;
}

.sushi-picture{
    width:70%;
    margin: 0 auto;
    text-align: center;
    border: solid 6px #d51410;
}

.sushi-picture img{
    width:80%;
}

.information{
    text-align: center;
    margin-top:30px;
    font-size:20px;
    font-weight:600;
}
.stuks{
    color:#d51410
}

.ingredienten{
    width:90%;
    font-size:15px;
    margin-left:5%;
    color:rgb(165, 165, 165);
    font-weight: 400;
}

.add{
    text-align: center;
    font-size:25px;
    padding-top:8px;
    background-color: #d51410;
    color:white;
    height:40px;
    border-radius: 50px;
    width:80%;
    margin-left:10%;
}

.add:hover{
    cursor: pointer;
}