* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.leftcolumn {
    float: left;
    height: 100%;
    width: 30%;
    background-color: white;
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.sidebutton {
    text-align: center;
    margin: 0 auto;
    height: 110px;
    background-color: #d51410;
    color: white;
    padding: 5%;
    width: 80%;
    margin-top: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 10px 10px;
}

.title {
    text-align: center;
    font-size: 350%;
    font-weight: 800;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.item {
    border: #d51410 solid 5px;
    width: 80%;
    height: 200px;
    margin: 2px;
    border-radius: 20px;
}

.item img {
    height: 50%;
    width: auto;
}
